body {
  // background: #000;
  // background-image: url("./images/c-base_bg.png");
  // background-position: center center;
  // background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  position: relative;
}
.cs-background {
  z-index: 1;
  position: fixed;
}
.cs-station {
  background-image: url("../../application/assets/images/c-base_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: 10;
}
.cs-body {
  background: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  color:#fff;
  border: 1px solid #fff;
  z-index: 20;
}